body{
	background: url(https://i.ytimg.com/vi/voWpbz1De_M/maxresdefault.jpg);
	background-size: cover; 
	background-position: center;

}


.app-container{
	    width: 50%;
	    margin: 0 auto;

}
.table {
    border-radius: 5px;
    margin: 45px auto;
/*    position: relative;
*/    table-layout: fixed;
    text-align: center;
}
h1{
	padding-top: 50px;
	color: white;
}
.back-button {
	position: absolute;
	right: 0;
}
.next-button {
	position: absolute;

}
.table-container{
    width: 75%;
    position: relative;

}


